
/* universal */
*{
    margin:0;
    font-family: 'Work Sans', sans-serif;
}
/* Button styles */
.btn-primary{
    background:#F15B22; 
    width: 160px;
    height: 64px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
}
/* Background Styles */
.header{

    background-image: url(../images/banner/banner2.png);
    width:100%;
    height:100%;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

/* Banner Styles */
.banner{
   text-align: right;
    padding: 216px 230px 167px 845px;
}

.banner-title{
   
    
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 24px;

}

.banner-description{
  
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
   
}


/* failurs of previous year section */


.details{
    
    display: flex;
    gap: 87px;
    max-width: 1072px;
    max-height: 723.3px;
    flex-direction: row-reverse;
    padding: 0 322px 130px 206px ;
    
   

    
}
.section-title{
  
  margin-top: 369px;
  margin-bottom: 24px;
  font-size: 40px;
  color: #151414;
  font-weight: 700;

}


.section-description{
    margin-bottom: 16px;
    
}

.points{
    color: #444343;
    font-weight: 400;
    
}
.person-image{
    width: 723.3px;
    height: 569px;
    margin-top: 130px;

}

/* plan section */

.my-plans{
    width: 1141px;
    height: 202.96px;
margin-bottom: 50px;  
text-align: center;  
 padding: 0 230px;
}
.plan-head{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    

}

.plan-container{
    display: flex;
    gap: 86px;
    width: 1141px;
    height: 202.96px;
}

    .plan-title{
        font-weight: 700;
        font-size: 30px ;
        color: #151414;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .plan-description{
  
        font-size: 25px;
        color: #737272;
        margin-bottom: 30px;
       
    }

    /* Advertisement section */
    .advertise{
        width: 1140px;
        height: 300px;
        background-image: url(../images/gradient3.png),url(../images/watch.png);
        background-repeat: no-repeat;
        padding: 124.4px 230px 130px 230px;
        background-position: center;
        text-align: left;
    }
    .advertise-title{
        font-weight: 700;
        font-size: 40px;
        margin-top: 59px;
        margin-bottom: 24px;
        margin-left: 64px;
        color: #FFFFFF; 

    }

    .btn-advertise{
        width: 160px;
        height: 64px;
        margin-left: 64px;
       
        background: #FFFFFF;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        border: 0;
        color: #F15B22;
    }

    /* Footer section */

    .footer{
       
        display: flex;
        gap: 331px;
        color: #FFFFFF;
        background-color: #151414;
        
       
    }
    .footer-left{
        margin-left: 230px;
        margin-bottom: 130px;
        margin-top: 130px;
    }
    .footer-right{
        margin-right: 230px;
        margin-top: 130px;
        margin-bottom: 243px;
    }


    .footer-title-main{ 
        font-size: 53px;
        font-weight: 700;
        color: #F8F8F8;
        margin-bottom: 16px;
    }
    .footer-description{
        margin-bottom: 24px;

    }
.footer-email{
    margin-bottom: 16px;
}
.footer-phone{
    margin-bottom: 30px;
}
.icon{
    margin-right: 18px; 
}

.footer-title{
    font-weight: 600;
font-size: 25px;
color: #FFFFFF;
}


input{
width: 325px;
height: 64px;
border-radius: 8px;
border: 1;
margin-bottom: 16px;
margin-top: 31px;
text-decoration: none;
background: none;
border-color: #FFFFFF;
color: #FFFFFF;
font-size: 18px;
font-weight: 400;


}


.footer-button{
    width: 170.11px;
    height: 64px;
    border-radius: 8px ;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
}

.footer-button:hover{
   background-color: rgba(21, 211, 154, 0.685);
   color: white
}

/* Shahriar Hossain (shahriarsgr@gmail.com) github/shahriarbd10 */